:root {
    --bg-color: #ebebeb;
    --input-placeholder: #4d4d4d;
    --input-bg: #efefef;
    --texto-destaque: #fff;
    --azul-destaque: #2a7ae4;
    --bg-contacto: #eaf2fd;
   /* font-family: "Open Sans", sans-serif; */
}

* {
    margin: 0;
    padding: 0;
 /*   --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box; */
    box-sizing: border-box; 

}

body {
  /*  margin: 0; /*receteamos las margenes para que no no las sume despues*/
  /*  padding: 0; /*receteamos el padding para que no nos la sume despues*/
    box-sizing: border-box; /*esta propiedad nos sirve para que tome los valores que estamos declarando de la altura y anchura y no nos la sume*/
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

/*------------patron del proyecto--------*/

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input::placeholder, textarea::placeholder {
    color: var(--input-placeholder);
    padding: 2%;
}

a {
    text-decoration: none;
    color: var(--azul-destaque);
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
}

button {
    cursor: pointer;
}

/*------------------------------Header------------*/

header {
    background: var(--texto-destaque);
    padding: 30px;
   /* background-position: center;
    background-repeat: no-repeat; 
    max-height: 600px; */
}

header .principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

header .contenedor {
    display: flex;
    align-items: center;
    width: 601px;
    justify-content: space-around;
}

header .contenedor .logo_img {
   display: flex;
   align-items: center;
    
}

header .contenedor .logo_img img {
   height: 29.17px;
   width: 40.02px;
}

header .contenedor input {
    margin-left: 10%;
    width: 393px;
    height: 40px;
    border-radius: 30px;
    padding: 1% 3%;
    border: none;
    background-color: var(--input-bg);
    background-image: url("../img/Lupa.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 320px;
}

header .contenedor .inicio_sesion {
    width: 600px;
    display: flex;
    justify-content: end;
}

header .inicio_sesion button {
    width: 182px;
    height: 51px;
    background: none;
    border: solid 1px var(--azul-destaque);
    text-transform: uppercase;
    border-radius: 3px;
}

header .inicio_sesion button:hover {
    background-color: var(--azul-destaque);
    color: var(--texto-destaque);
}

/*--------------------Destaque---------*/

.destaque {
    height: 315px;
    background-image: url(../img/banner-image.png);
    background-size: 100vw; /*con el vw nos toma el 100% de la pantalla*/
    background-repeat: no-repeat;
    padding: 32px 32px 0 32px;
}

 .destaque .texto {
    width: 751px;
    height: 261px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.destaque .texto h1 {
    color: var(--texto-destaque);
    font-size: 52px;
    padding: 20px 0;
    font-weight: bold;
    text-shadow: 2px 2px 0px #323131, 5px 4px 0px rgb(0 0 0 / 15%);
}

.destaque .texto h4 {
    color: var(--texto-destaque);
    font-size: 22px;
    padding: 20px 0;
    font-weight: bold;
    text-align: 2px 2px 0px #323131, 5px 4px 0px rgb(0 0 0 / 15%);
}

.destaque .texto button {
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
    width: 130px;
    height: 51px;
    border-radius: 3px;
   
}

.destaque .texto button:hover {
    background: #46a1fc;
    transform: scale(1.1);
}

/*-------------Main-------------*/

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.main .prod_titulo {
    padding: 20px 110px 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    
}

.main .prod_titulo .titulo {
    font-size: 34px;
    font-weight: 300;
    margin-left: 60px;
    margin-top: 46px;
    padding: 10px;
    color: #464646;
    
}

.main .prod_titulo .mostrar_mas {
    font-weight: bold;
    /* margin-top: 25px; */
    color: var(--azul-destaque);
    display: flex;
    padding: 20px;
    
}

.main .prod_titulo .mostrar_mas .verTodo {
   margin-left: -90px;
   margin-top: 40px;
    
   
}

.main .prod_titulo .mostrar_mas .verTodo img {
    padding: 10px;
    margin: -12px 0;
    
    
}

/* Aca empezamos los estilos de todas la seccion de imagenes y precios*/

.main .productos {
    
    padding: 0px 150px 0px 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 2px; */
}

.contenedor_img {
    border-radius: 3px;
    font-size: 20px;
    margin-top: 20px;
    
}

.imagenes {
    width: 300px;
    height: 250px;
    padding: 10px;
}

.main .productos .descripcion {
    margin-left: 10px;
    font-size: 17px;
    
}

.main .productos .descripcion .categoria {
    font-weight: 400;
    
}

.main .productos .descripcion .precio {
    margin-top: 10px;
}


/*--------------------Consolas-------------*/

/* .main .contenedor_productos .contenedor_img {
    border-radius: 3px;
    font-size: 20px;
    margin-top: 20px;
    
}

.imagenes {
    width: 300px;
    height: 250px;
    padding: 10px;
}

.main .consolas .descripcion {
    margin-left: 10px;
    
}

.main .consolas .descripcion .categoria {
    font-weight: 400;
    
} */
/*.consolas {
    background: #f2f2f2;
    padding: 30px 0;
}

.consolas .contenedor {
    overflow: hidden;
}

.consolas .contenedor .titulo {
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #464646;
    padding-left: 150px;
    text-align: left;
}

.consolas .contenedor .contenedor_Consolas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.consolas .contenedor .contenedor_Consolas .contenedor_img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 40px;
    margin: 0 20px;
    
    

}

.consolas .contenedor .contenedor_Consolas .contenedor_img img {
    width: 186.5px;
    height: 200px;
}


.consolas .contenedor .contenedor_Consolas .descripcion {
   padding-left: 20px;
   padding-right: 20px;
   
    
}

.consolas .contenedor .contenedor_Consolas .descripcion .categoria {
    font-weight: 400;
    margin-bottom: 10px;
   
    
}

/*--------------------------Footer-------------------*/

footer .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 50px 0;
    
}

footer .footer .contenedor {
    display: flex;
    align-items: center;
    width: 601px;
    justify-content: space-around;
    
}

footer .footer .contenedor .logo_footer {
   display: flex;
   align-items: center;
   
}

footer .footer .menu_categorias {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    width: 250px;
    margin-right: 100px;
}

footer .footer .menu_categorias a {
    
    color: #464646;
    padding: 5px 0;
   
}

footer .footer .menu_footer {
    display: inline-block;
    text-align: center;
}

footer .footer .menu_footer .titulo {
    
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #4d4d4d;
    text-align: left;

}

footer .footer .menu_footer .menu_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

footer .footer .menu_footer .menu_input input[type="text"],
footer .footer .menu_footer .menu_input textarea {
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;

}

footer .footer .menu_footer .menu_input input[type="text"]:focus,
footer .footer .menu_footer .menu_input textarea:focus {
    border: 2px solid #3895ea;
}


footer .footer .menu_footer .menu_input input[type="text"] {
    width: 70%;
    margin-bottom: 15px;
}

footer .footer .menu_footer .menu_input textarea {
    width: 100%;
    height: 100px;
    min-width: 70%;
    max-width: 100%;
    min-height: 100px;
    max-width: 300px;
    margin-bottom: 15px;

}

footer .footer .menu_footer .menu_input .btn {
    margin: auto;
    margin-top: -10px;
    background: #3895ea;
    color: #fff;
    border: none;
    margin-left: 20px;
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;

}

footer .footer .menu_footer .menu_input .btn:hover {
    background: #387bea;
}

.copyright {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #464646;
}

/*-------------Responsive--------------*/

@media screen and (max-width: 900px) {
    
    .destaque .texto {
        margin-top: -5em;
    }

    .main .contenedor  {
        margin-top: -15em;
    }

    .main .contenedor .prod_titulo  {
        margin-top: 225px;
    }

}





