:root {
    --bg-color: #ebebeb;
    --input-placeholder: #4d4d4d;
    --input-bg: #efefef;
    --texto-destaque: #fff;
    --azul-destaque: #2a7ae4;
    --bg-contacto: #eaf2fd;
   /* font-family: "Open Sans", sans-serif; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*esta propiedad nos sirve para que tome los valores que estamos declarando de la altura y anchura y no nos la sume*/ 
}

html {
    font-size: 62.5%; /*para que el 1rem sea igual a 10px*/
}

body {
    width: 100%;
    height: 100vh;
      font-family: "Open Sans", sans-serif;
      font-size: 1.6rem;
      background-color: var(--bg-color);
      display: flex;
      justify-content: center;
      align-items: center;
      
      
  }

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.titulo {
    width: 100%;
    color: var(--input-placeholder);
    font-size: 2.4rem;
    line-height: 34px;
    font-weight: 900;
    padding-bottom: 2rem;
    text-align: center;
}

.form_InicioSesion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_InicioSesion input[type=text],
.form_InicioSesion input[type=password] {
    border: none;
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    color: var(--bg-color);
    outline: none;
}

.form_InicioSesion input[type=text],
.form_InicioSesion input[type=password] {
    width: 90%;
    margin-bottom: 25px;
}

.form_InicioSesion input[type=text]:focus,
.form_InicioSesion input[type=password]:focus {
    border: 2px solid #3895ea;
}

.form_InicioSesion .btn {
    background: var(--azul-destaque);
    color: var(--input-bg);
    border: none;
    font-size: 2.5rem;
    border-radius: 0.3rem;
    padding: 1.5rem 4rem;
    width: 70%;
    cursor: pointer;

}

.form_InicioSesion .btn:hover {
    background: #387bea;
}