header {
    height: 45%;
}

header .principal .contenedor .logo_img img {
    width: 6.5rem;    
}

header .principal .contenedor #btnBuscar {
    width: 65%;
    background-position-x: 90%;
    font-size: 1.6rem;
}