:root {
    --bg-color: #ebebeb;
    --input-placeholder: #4d4d4d;
    --input-bg: #efefef;
    --texto-destaque: #fff;
    --azul-destaque: #2a7ae4;
    --bg-contacto: #eaf2fd;
   /* font-family: "Open Sans", sans-serif; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
}

/*------------patron del proyecto--------*/

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: var(--input-placeholder);
    padding: 2%;
}

a {
    text-decoration: none;
    color: var(--azul-destaque);
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
}

button {
    cursor: pointer;
}

/* header */
header {
    width: 100%;
    height: 20%;
    background-color: var(--texto-destaque);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;        
}

header .principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5rem;
}

header .principal .contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

header .principal .contenedor .logo_img {
    width: 52%;
    align-items: center;
}

header .principal .contenedor .logo_img img {
    width: 4rem;    
}

header .principal .contenedor #btnBuscar {
    width: 75%;
    background-color: var(--input-bg);
    background-image: url('../../img/Lupa.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 17rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
    padding: 2rem;    

}

/* Login */
header .principal .inicio_sesion {
    width: 30%;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .principal .inicio_sesion .login {
    width: 100%;
    height: 4rem;
    background-color: var(--texto-destaque);
    border: none;
    border-radius: 0.3rem;
    border: 1px solid var(--azul-destaque);
    color: var(--azul-destaque);
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    justify-content: center;
}

header .principal .inicio_sesion .login:hover {
    background-color: var(--azul-destaque);
    color: var(--texto-destaque);
}

/* main */
main {
    width: 100%;
    display: flex;
    flex-direction: column;    
}

/* main Header */
main .destaque {
    width: 100%;
    height: 12.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../img/banner-image.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    justify-content: left;
    padding-left: 1.5rem;
        
}

main .destaque .texto {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: left;
    color: var(--texto-destaque);
    flex-direction: column;
    gap: 0.7rem;
    padding: 2rem;
    @media (min-width: 600px) {
        gap: 1rem;
    }
}

main .destaque .texto h1 {
    font-size: 1.8rem;
    @media (min-width: 600px) {
        font-size: 2.2rem;
        
    }
}

main .destaque .texto h4 {
    font-size: 1.1rem;
    @media (min-width: 600px) {
        font-size: 1.3rem;
    }
}

/* btn */
main .destaque .texto .btn button {
    background-color: var(--azul-destaque);
    border: none;
    border-radius: 0.5rem;
    color: var(--texto-destaque);
    font-size: 1rem;
    outline: none;
    padding: 0.8rem;
    @media (min-width: 600px) {
        height: 3.7rem;
        font-size: 1.2rem;
    }

}

/* main */
/* main .star_wars { */
    /* width: 100%; */
    /* height: 100vh; */
    /* display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
} */

main .contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
}

main .contenedor .prod_titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

main .contenedor .prod_titulo .titulo {
    font-size: 1.5rem;
    font-weight: 600;
    @media (min-width: 600px) {
        font-size: 2rem;
    }
}

main .contenedor .prod_titulo .mostrar_mas {
    font-size: 1.2rem;
    color: var(--azul-destaque);
    gap: 1.5rem;
    @media (min-width: 600px) {
        font-size: 1.5rem;
    }
}

main .contenedor .prod_titulo .mostrar_mas .verTodo {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Productos */
main .contenedor .productos {
    width: 100%;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;

}

main .contenedor .productos .card {
    width: 50%;
    @media (min-width: 600px) {
        width: 30%;
    }
     
}

main .contenedor .productos .contenedor_productos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .contenedor .productos .contenedor_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        
}

main .contenedor .productos .contenedor_img .imagenes {
    width: 90%;
    height: 200px;
    border-radius: 10%;
    object-fit: contain;
   
}

main .contenedor .productos .descripcion {
    width: 100%;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
}

main .contenedor .productos .descripcion .precio {
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

footer .formulario {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    line-height: 2rem;
}

footer .formulario .contenedor {
    width: 80%;
    display: flex;
    padding-left: 1.5rem;
}

footer .formulario .contenedor .logo_footer {
    width: 80%;
    @media (min-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

footer .formulario .contenedor .logo_footer img {
    width: 5rem;
    @media (min-width: 600px) {
        width: 7rem;
        display: flex;
    }
}

/* Enlaces */
footer .formulario .menu_categorias {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
       
}

footer .formulario .menu_categorias a {
    color: var(--azul-destaque);
    font-size: 1.15rem;
    line-height: 2.2rem;
    @media (min-width: 600px) {
        font-size: 1.4rem;
    }
}

/* Footer Menu */
footer .formulario .menu_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 1.5rem;
}

footer .formulario .menu_footer .titulo {
    font-size: 1.4rem;
    color: var(--azul-destaque);
    text-align: center;
    @media (min-width: 600px) {
        font-size: 1.6rem;
    }
}

footer .formulario .menu_footer .menu_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

footer .formulario .menu_footer .menu_input .nombre {
    width: 13.3rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    padding: 1rem;
}

footer .formulario .menu_footer .menu_input textarea {
    width: 13.3rem;
    height: 4.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    padding: 1rem;
    resize: none;
}

footer .formulario .menu_footer .menu_input .btn {
    width: 14rem;
    height: 3rem;
    background-color: #183864;
    border: none;
    border-radius: 1rem;
    color: #efefef;
    cursor: pointer;
    outline: none;
}

/* Copy */
footer .copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #183864;
    font-size: 1.7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}


























